{% extends 'blogApp/base.html' %}
{% load static %}


{% block content  %}
<div class="col-sm-10">
<h3 class="text-white my-7">About Us</h3>
<div class="container-fluid jumble-color mt-5">
<p>
this is story about glorious transformation made by 4 members to serve or contribute in the filed of web development.To performing 
various activities which will be fruitful to world is major target moretheless Legends are still trying 
to server service to those who really want such help in their life.Making journey of all individuals easy is major goal in mind 
which is only hope to transform a life style of main in incoming days through our values .thank you
</p>
<p>
this is story about glorious transformation made by 4 members to serve or contribute in the filed of web development.To performing 
various activities which will be fruitful to world is major target moretheless Legends are still trying 
to server service to those who really want such help in their life.Making journey of all individuals easy is major goal in mind 
which is only hope to transform a life style of main in incoming days through our values .thank you
</p>
</div>
</div>


{% endblock content  %}